# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8fb0e7510e816ee3506c1ed94546b4ca8175fed54f433f945bc20193aa2edb1d19e5c1e5c7e1082c9dffa1a2b0c7b46c6e6d8451d841e6b3f6764f550fa34026

test:
  secret_key_base: af668c24c17f85ea952d46fb6c86c7c810d9b08ad67d2e285047258beb49c0901eb6b9d47ea60777422344294b2fb7fa87790069a75a5e198b263f184d05a9ef

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
